<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>login UI</title>

    {% load static %}
    <link rel="stylesheet" href="{% static '/user/Login.css' %}">

</head>
<body>
    <div class="box">
            <h2>百花杀博客注册</h2>

  <form method="post", action="{% url 'register' %}">

    <div class="inputBox">
      <input type="text" name="user" required>
      <label>用户名</label>
    </div>
    <div class="inputBox">
		<input type="password" name="pwd" required>
		<label>密码</label>
    </div>
    <input type="submit"  value="注册">
	  </form>
	</div>
    </body>
</html>
